:root {
	--primary-white-color: #ffffff;
	--white-bc-color: #FDFCEF;
	--gradient-bc-color: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
	--title-text-color: #000000;
	--primary-text-color: #000000;
	--button-bc-color: #FF6861;
}

/*! БАЗОВЫЕ И ОБНУЛЯЮЩИЕ СТИЛИ */
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

body {
	background-color: var(--white-bc-color);
	color: var(--primary-text-color);

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.36;
}



/*! ОБЩИЙ СТИЛЬ ЗАГОЛОВКОВ */
.title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 40px;
	line-height: 1.4;
}



/*! SECTION */
.section{
	padding-top: 120px;
}



/*! CONTAINER */
.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}



/*! HERO */
.hero {
	padding-top: 60px;
}

/* LOGO */
.logo {
	color: var(--primary-text-color);

	text-decoration: none;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.2;

	display: flex;
	align-items: center;
	margin-bottom: 82px;
}

.logo img {
	margin-right: 10px;
}

/* FLEX-CONTAINER */
.hero-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-body {
	flex-basis: 465px;
}

.hero-title {
	color: var(--title-text-color);

	font-size: 50px;

	margin-bottom: 30px;
}

.hero-text {
	margin-bottom: 30px;
}

/* BUTTON */
.button {
	background-color: var(--button-bc-color);
	color: var(--primary-white-color);
	border-radius: 100px;

	text-decoration: none;
	font-weight: 700;

	display: inline-block;
	padding: 22px 70px;
}



/*! SECTION "WHAT" */



.what-title {
	text-align: center;

	margin-bottom: 70px;
}

/* КОНТЕЙНЕР ДЛЯ СЕКЦИИ "WHAT" */
.what-container {
	max-width: 720px;
	margin: 0 auto;
}

/* СПИСОК "Про что игра" */
.what-list {
	list-style: none;

	margin: 0;
	padding: 0;
}

.what-list-item {
	display: flex;
	align-items: flex-start;
}

.what-list-item:not(:last-child) {
	margin-bottom: 41px;
}

.what-list-body {
	margin-left: 34px;
}

.what-list-title {
	color: var(--title-text-color);

	font-size: 30px;

	margin-bottom: 11px;
}

.what-list-text {
	margin: 0;
}



/*! ACTION */

/* FLEX-CONTAINER */
.action-wrap {
	background: var(--gradient-bc-color);
	border-radius: 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 75px 125px;
}

.action-body {
	flex-basis: 475px;
}

.action-title {
	margin-bottom: 24px;
}

.action-text {
	margin-bottom: 24px;
}



/*! FOOTER */
.footer {
	text-align: center;

	padding: 120px 0;
}


.button-test{
	background-color: blue;
	color: #fff;
	border-radius: 10px;

	text-decoration: none;
	font-size: 30px;
	
	display: inline-block;
	padding: 20px 70px;
}


.button-test:hover {
	background-color: tomato;

	transition: .5s;
}